.overview {
    padding: 10px 200px 10px 50px;
    background-color: whitesmoke;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 200px;
    /* padding-bottom: 320px; */
  }
  
  .balancegroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
    margin: auto;
  }
  .seeMe{
    display: flex;
    justify-content: space-between;
  }
  
  .balance {
    color: #353535;
    width: 40%;
    padding: 20px 0px;
  }
  
  .group {
    color: #27272E;
    width: 40%;
    padding: 20px 0px;
  }
  
  .wrapper {
    padding: 20px 25px;
    background: #ffffff;
    box-shadow: 0px 3px 8px rgba(41, 41, 41, 0.13);
    border-radius: 16px;
  }
  
  .wrapper h5 {
    display: flex;
    align-items: center;
  
  }
  
  .transheader {
    color: #1f2d3d;
    font-size: 0.7rem;
    padding: 20px;
  }
  .wrapper h5 img {
    height: 13px;
    width: 13px;
    margin-left: 13px;
  }
  

  .tableContainer{
    margin-top: 40px;

  }

  .transme span{
    background-color: red;
    width: auto;
    color: white;
    border-radius: 10px;
    padding: 5px;
  }
 
.father{
    width: 100%;
}
.father table{
  width: 100%;
  margin-bottom: 30px;
}
.father td{
  padding-bottom: 5px;
}
.father p{
    width: 20%;
    font-weight: 600;
}

  @media screen and (max-width:768px) {
    .overview{
        width: 100%;
        padding: 0px 0px 10px 0px;
        margin-left: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        background-color: white;
    }
    .balancegroup{
        flex-direction: column;
        width: 90%;
        margin: auto;
        padding-top: 20px;
    }
    .balance{
        width: 100%;
    }
    .group{
        width: 100%;
        margin-top: 20px;
    }
    .transaction-container{
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }
    .tableheader{
        width: 100%;
    }
    .trans{
        flex-direction: column;
    }
    .tableContainer{
        font-size: 12px;
        /* padding-left: 10px; */
        width:90% ;
        margin: auto;
        margin-top: 20px;
    }
   .father p{
    font-size: 12px;
   }
  }