.containers{ 
    display: flex;
    width: 100%;
    flex-direction: row;
}
.main{
    background-color: whitesmoke;
    margin-left: 200px;
    margin-top: 60px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    
}
.content h3{
    margin: 20px 0px;
    text-align: center;
    font-weight: 550;
    font-size: 30px;
}
.content p {
    text-align: center;
    font-weight: 540;
    font-size: 18px;
}
.choose h4 {
    font-size: 1.7rem;
    margin-bottom: 20px;
    margin-left: 30px;
}
.choose p {
    margin-bottom: 60px;
    font-size: 0.98rem;
    font-weight: 500;
    margin-left: 30px;
}
.payment h4{
    font-size: 1.3rem;
    margin-bottom: 30px;
    margin-left: 30px;
    
}


button{
    background-color:  rgb(238, 88, 238);
    width: 120px;
    height: 40px;
    border-radius: 8px !important;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}
.box{
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    border: 1px solid  rgb(238, 88, 238);
    height: 70px;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 40px;
    padding: 0px 20px;
}
.btns{
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0px 20px;
}
.boxContent{
    display: flex;
    align-items: center;
    gap: 0;
}
.boxContent p{
    font-size: 12px;
}
.boxContent div{
    margin-left: 10px;
    padding-top: 15px;
}

 

@media screen and (max-width:768px) {
    .main{
        margin-left: 0px;
        padding: 20px;
    }
    .content{
        width: 100%;
        margin: auto;
    }
    .content h3{
        margin: 5px 0px 10px 0px;
        font-size: 20px;
        text-align: left;
        color:rgb(238, 88, 238) ;
        
    }
    .content p{
        text-align: left;
        margin-bottom: 10px;
    }
    .choose{
        width: 100%;
        margin: auto;
    }
    .choose h4{
        font-size: 1.2rem;
        text-align: left;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .choose p{
        margin-bottom: 10px;
        margin-left: 0px;
    }
    .payment h4{
        margin-bottom: 0px;
        margin-left: 0px;
        text-align: left;

    }
    .btns{
        width: 100%;
        padding: 0px;
        margin-top: 20px;
    }
    .box{
        border:none;
        width: 100%;
        padding: 0px;
        margin-bottom: 0px;
        margin-top: 10px;
    }
}